<section>
  <h1>MI BIOGRAFIA</h1>

  <main>
    <article>
      <p>
        Carlos Elian Lalangui Flores, nacido el 25 de Abril 2003, es un estudiante de la Universidad Técnica de Machala que actualmente se encuentra cursando el quinto semestre de la carrera de ingenieria en Tecnologías de la información. Uno de sus mayores pasatiempos son salir a hacer deporte, comer y conocer gente nueva en su día a día. <br> Se graduó como bachiller en el prestigioso colegio Ismael Perez Pazmino y en la escuela Eulogio Serrano Armijos ubicada en la ciudadela Las Brisas. Es un chico horado, trabajador, estudioso y que le gusta pasar el rato con sus compañeros de clases. Una de sus principales metas en la vida es irse a vivir a Estados Unidos y trabajar como desarrollador en una gran empresa tecnologica.
      </p>
      <img src="../assets/yo.jpeg" alt="Yo">
    </article>
  </main>
  
  <footer>
    <h6>Elaborado por Carlos Elian Lalangui Flores - 2023</h6>
  </footer>
</section>
